# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
# Import necessary packages
import sqlite3

In [2]:
# Create the database school.sqlite 
conn = sqlite3.connect('school.sqlite')
cursor = conn.cursor()

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [3]:
# Your code here
cursor.execute('''
create table contact_info (
    first_name text,
    last_name text,
    role text,
    phone int,
    street text,
    city text,
    state text,
    zipcode text
)
''')

In [8]:
cursor.execute('select * from contact_info').fetchall()

[]

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [5]:
# Load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [10]:
print(contacts[0])

{'firstName': 'Christine', 'lastName': 'Holden', 'role': 'staff', 'telephone ': 2035687697, 'street': '1672 Whitman Court', 'city': 'Stamford', 'state': 'CT', 'zipcode ': '06995'}

In [36]:
# Iterate over the contact list and populate the contactInfo table here
for contact in contacts:
    cursor.execute(f'''
    insert into contact_info (
    first_name,
    last_name,
    role,
    phone,
    street,
    city,
    state,
    zipcode
    ) values (
    ?,
    ?,
    ?,
    ?,
    ?,
    ?,
    ?,
    ?
    )
    ''', (
            contact['firstName'],
            contact['lastName'],
            contact['role'],
            contact['telephone '],
            contact['street'],
            contact['city'],
            contact['state'],
            contact['zipcode ']
    ))

**Query the Table to Ensure it is populated**

In [38]:
# Your code here 
cursor.execute('select * from contact_info limit 2;').fetchall()

[('Christine',
  'Holden',
  'staff',
  2035687697,
  '1672 Whitman Court',
  'Stamford',
  'CT',
  '06995'),
 ('Christopher',
  'Warren',
  'student',
  2175150957,
  '1935 University Hill Road',
  'Champaign',
  'IL',
  '61938')]

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [39]:
# Your code here
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [40]:
# Create the grades table
cursor.execute('''
create table grades(
    user_id integer not null, 
    course_id integer not null, 
    grade text, 
    PRIMARY KEY (user_id, course_id))
''')

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [44]:
# Find the duplicate entry
cursor.execute('''select first_name, last_name, count(*) from contact_info group by first_name, last_name having count(*) > 1''').fetchall()

[('Jane', 'Evans', 2)]

In [45]:
# Delete the duplicate entry
cursor.execute('''delete from contact_info where first_name = 'Jane' and last_name = 'Evans' ''')

In [46]:
# Check that the duplicate entry was removed
cursor.execute('''select first_name, last_name, count(*) from contact_info group by first_name, last_name having count(*) > 1''').fetchall()

[]

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [50]:
# Update Ed's address
cursor.execute('''
update contact_info set (
    street,
    city,
    state,
    zipcode
) = (
    '2910 Simpson Avenue',
    'York',
    'PA',
    '17403'
)
where first_name = 'Ed' and last_name = 'Lyman'
''').fetchall()

[]

In [54]:
# Query the database to ensure the change was made
cursor.execute('''select * from contact_info where first_name = "Ed" and last_name = "Lyman"''').fetchall()

[('Ed',
  'Lyman',
  'student',
  5179695576,
  '2910 Simpson Avenue',
  'York',
  'PA',
  '17403')]

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [55]:
# Your code here
conn.commit()

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.